


<div class="card card-body bg-danger text-white py-5">
  <h2>Contact</h2>
  <p class="lead">In the form below you can send me an e-mail</p>
</div>

<div class="card card-body py-5">
  <h3>Get In Touch</h3>
  <p></p>

      <form [formGroup]="registerForm"   (ngSubmit)="onSubmit(registerForm); "  >
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-user">
                </i>
              </span>
            </div>
            <input  type="text" class="form-control bg-dark text-white" placeholder="Name"     formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"    >
            <div *ngIf="!clear && submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Name is required</div>
          </div>
          
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-envelope">
                </i>
              </span>
            </div>
            <input type="email" class="form-control bg-dark text-white" placeholder="Email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors } "  >
            <div *ngIf="!clear && submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-pencil-alt">
                </i>
              </span>
            </div>
            <textarea class="form-control bg-dark text-white" placeholder="Name" formControlName="emailtext"  >
              </textarea>
          </div>
        </div>
       
        <div class="form-group">
          <button class="btn btn-danger btn-block btn-lg">Register
    
          </button>
         
      </div>
      </form>
</div>