<div class="card card-body bg-success text-white py-5">
  <h2>My Resume</h2>
  <p class="lead">Here you can find some information about my resume</p>
</div>



<div class="card-deck">

  <div class="card">
    <div class="card-body">
      <h6 class="card-title p-3 mb-3 bg-success text-white font-weight-bold">
        Informazioni personali
      </h6>
      <div class="container">
        <p> <i class="fa fa-user" style="color: green"></i> &nbsp; <b> Nome: </b> Tomas</p>
        <p> <i class="fa fa-user" style="color:green"></i> &nbsp; <b> Cognome: </b> Mali</p>
        <p> <i class="fas fa-globe" style="color:green"></i> &nbsp; <b> Città: </b> Italia/Padova</p>
        <p> <i class="fa fa-envelope" style="color:green"></i> &nbsp; <b> E-mail: </b> tomasmali08@gmail.com</p>
        <p> <i class="fas fa-map-marker-alt" style="color:green"></i> &nbsp; <b> Indirizzo: </b> Via Antonio Pertile
          nr.13/5</p>
        <p> <i class="fas fa-phone-square" style="color:green"></i> &nbsp; <b> Telefono: </b> (+39) 388 8246051</p>
      </div>

    </div>
    <div class="card-footer">
      <h6 class="text-muted">
        Dates: 2015 - 2018
      </h6>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h6 class="card-title p-3 mb-3 bg-success text-white font-weight-bold">
        Diploma IPSIA (Operatore Elettronico)
      </h6>

      <div class="container">
        <p> <i class="fas fa-graduation-cap" style="color:green"></i> &nbsp; <b>Scuola: </b> IPSIA ,San Benedetto del
          Tronto</p>
      <!-- <p> <i class="fas fa-book" style="color:green"></i> &nbsp; <b>Voto Finale: </b> 100/100 </p> --> 
      </div>
      <div class="container">
          <div class="container">
        <ul class="list-group mt-1">

          <li class="list-group-item list-group-item item_card item_card text-center bg-secondary  text-white"
            data-toggle="collapse" data-target="#discipline">
            <b class="text-center"> Discipline </b>
          </li>



          <div id="discipline" class="collapse show">
            <li class="list-group-item  list-group-item item_card "> <i
                class="fas fa-angle-right " style="color:green"></i> &nbsp;
              Tecniche di rappresentazione grafica
            </li>
            <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                style="color:green"></i>
              &nbsp;Tecnologie dell'informazione e comunicazione</li>
            <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                style="color:green"></i>
              &nbsp;Laboratori tecnologici ed esercitazione</li>
            <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                style="color:green"></i>
              &nbsp;Scienze integrate: fisica</li>
            <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                style="color:green"></i>
              &nbsp;Scienze integrate: chimica</li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h6 class="text-muted">
      Dates: 2015 - 2018
    </h6>
  </div>
</div>

</div>



<div class="card-deck">


  <div class="card">
    <div class="card-body">

      <h6 class="card-title p-3 mb-3 bg-success text-white font-weight-bold">
        Laurea in Informatica, Padova (Italia)
      </h6>


      <div class="container">
        <p> <i class="fas fa-graduation-cap" style="color:green"></i> &nbsp; <b>Università: </b> Università degli Studi
          di
          Padova</p>
        <div class="container">
          <ul class="list-group mt-1">

            <li class="list-group-item list-group-item item_card item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#conoscenze_tecniche">
              <b>Conoscenze tecniche</b>
            </li>

            <div id="conoscenze_tecniche" class="collapse show">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Architettura degli elaboratori</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Sistemi operativi</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Algoritmi e strutture dati</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Reti</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Calcolo numerico</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Basi di dati</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Progettazione web con focus su accessibilità</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Ingegneria del software</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Programmazione ad ogetti (C++,Java)</li>
            </div>
          </ul>
        </div>
      </div>


      <div class="container">
        <div class="container">
          <ul class="list-group mt-1">

            <li class="list-group-item list-group-item item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#linguaggi"> <b>Linguaggi di programmazione</b> </li>

            <div id="linguaggi" class="collapse">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                C++</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Java</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Javascript, NodeJs</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;MySql</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;XML, XMLSchema, XSLT</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;XHTML, HTML5</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;XSS3, SCSS</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;LateX</li>
            </div>

          </ul>
        </div>
      </div>

      <div class="container">
        <div class="container">
          <ul class="list-group mt-1">
            <li class="list-group-item list-group-item item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#librerie"> <b>Librerie e frameworks</b> </li>
            <div id="librerie" class="collapse">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Qt5 per C++</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Meteor per NodeJs</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;ReactJS per JavaScript</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;AngularJS, Angular >= 2</li>
            </div>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="container">
          <ul class="list-group mt-1">
            <li class="list-group-item list-group-item item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#tecnologie"> <b>Tecnologie collaborative</b> </li>

            <div id="tecnologie" class="collapse">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Git, utilizzato con git-flow</li>

              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i> &nbsp;
                Atlassian/Bitbucket/Confluence/Jira</li>

            </div>
          </ul>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <h6 class="text-muted">
        Dates: 2015 - 2018
      </h6>
    </div>
  </div>



  <div class="card">
    <div class="card-body">
      <h6 class="card-title p-3 mb-3 bg-success text-white font-weight-bold">Esperienza personale</h6>

      <div class="container mb-4">
        <p> <i class="far fa-building" style="color: green"></i> &nbsp; <b> Telecomputers: </b> San Benedetto Del Tronto
          (Italia)</p>

        <div class="container">
          <ul class="list-group ">
            <li class="list-group-item list-group-item item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#tecnico_di_sistemi_informatici"> <b>Tecnico di sistemi
                informatici</b>
            </li>

            <div id="tecnico_di_sistemi_informatici" class="collapse">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Manutenzione di computers</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Relazioni con i fornitori</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Relazioni con i clienti</li>
            </div>
          </ul>
        </div>
      </div>


      <div class="container mb-4">
        <p> <i class="far fa-building" style="color: green"></i> &nbsp; <b> UNIPD: </b>
          Addetto allo sportello per compilazione moduli</p>

        <div class="container">
          <ul class="list-group mb-1">
            <li class="list-group-item list-group-item item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#collaborazione"> <b>Collaboratore in Segreteria di Studenti
                (Padova)</b>
            </li>

            <div id="collaborazione" class="collapse">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Compilazione modulo online</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Ritiro libretti</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Consegne certificati di laurea</li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Riordino fascicoli</li>
            </div>
          </ul>
        </div>
      </div>



      <div class="container mb-4">
        <p> <i class="far fa-building" style="color: green"></i> &nbsp; <b> Azienda: </b>
          Sanmarco Informatica S.p.A, Grisignano di Zocco</p>

        <div class="container">
          <ul class="list-group mb-1">
            <li class="list-group-item list-group-item item_card text-center bg-secondary  text-white"
              data-toggle="collapse" data-target="#assistenza"> <b>Assistente informatico</b>
            </li>

            <div id="assistenza" class="collapse">
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Sviluppo back-end (Java)
              </li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right "
                  style="color:green"></i> &nbsp;
                Sviluppo front-end (JavaScript, HTML,CSS,AngularJs,JQuery)
              </li>
              <li class="list-group-item list-group-item item_card"> <i class="fas fa-angle-right"
                  style="color:green"></i>
                &nbsp;Sviluppo con piattaforma Telegram Bot</li>
            </div>
          </ul>
        </div>
      </div>




    </div>
    <div class="card-footer">
      <h6 class="text-muted">
        Dates: 2015 - 2018
      </h6>
    </div>
  </div>


  

</div>
  













<div class="card card-body py-5">

  <h3>My Skills</h3>
  <p>Here I present some level of my skills aquired during my studies</p>
  <hr>

  <h5>HTML 5 CSS</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:90%;">
    </div>
  </div>

  <h5>JavaScript</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:70%;">
    </div>
  </div>

  <h5>SQL</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:70%;">
    </div>
  </div>

  <h5>Angular</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:70%;">
    </div>
  </div>

  <h5>ReactJs</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:40%;">
    </div>
  </div>


  <h5>Java</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:70%;">
    </div>
  </div>

  <h5>Telegram Bot</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:70%;">
    </div>
  </div>

  <h5>Android</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:60%;">
    </div>
  </div>

  <h5>RPG (piattaforma IBM)</h5>
  <div class="progress mb-2">
    <div class="progress-bar bg-success" style="width:50%;">
    </div>
  </div>

</div>