<div class="card card-body bg-primary text-white py-5">
  <h2>Welcome To My Page</h2>
  <p class="lead">Here you can find some information about me! </p>
</div>




<div class="jumbotron mt-0">

  <div class="container about_me">



    <div style="text-align: center;"> <b> Hello, I am Tomas Mali! </b> </div>
    <br>
    <p>
      I have to tell something about myself. Sometimes it is hard to introduce yourself because you know yourself so
      well
      that you don't know where to start with. Let me give a try to see what kind of image you have about me through my
      self-description.
    </p>
    <p>
      <!--
      I am 26 years old and I am from Albania, a little country situated in Southeast Europe on the Atlantic and Ionian
      Sea.
      I attended the high school in Italy (San Benedetto del Tronto) where I get the diploma with highest rank.
      Since first year in high school I realized that
      the technology is moving very fast and in the Computer Science area, jobs are getting more required from the big
      companies. That's why i decided to
      continue my studies from Computer Science University Of Padua where I have graduated in April 2018.
      Since then I have started to explore, learn and create some small and medium projects on my own.
      I am a very positive person about every aspect of life.
      
         The slideshow -->

      There are many things I like to do, to see, and to
      experience.
      Here is a portion of that:
      I like to travel a lot, I like to read good books, I like to make new friends every day, to be surrounded by
      people.
      I like to feel the music flowing on my face, I like to smell the wind coming from the ocean. I like to look at the
      clouds in the sky with a blank mind, I like the land and i like the nature.

      Of course, I am nowhere close to what I wantesd to be, yet. I am just someone who does some learning, some
      research,
      and
      some writing. But my dream is still alive.
    </p>
    <p>
      This is a brief introduction of myself. If you are interested in knowing more, read my resume or take a look at my
      works. Do not expect too much, and keep your sense of humor.
    </p>

  </div>

  <br>
  <hr>
  <div class="row">
  </div>
</div>